<!DOCTYPE html>
<html>
<head>
    <base href="@Context.Request.Path">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AJ2MVC</title>
    
    <link rel="stylesheet" href="~/css/jquery-ui.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/css/pqgrid.min.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">AJ2MVC</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Home" asp-action="Administration">Administration</a></li>
                    <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
                <p class="nav navbar-text navbar-right">Hello, @User.Identity.Name!</p>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="spinner"></div>
            <p>&copy; 2016 - AJ2MVC</p>
        </footer>
    </div>

    <div id="loader" class="overlay-loader">
        <div id="global-loader-background" class="loader-background"></div>
        <img id="global-loader-icon" class="loader-icon spinning-cog" src="~/css/cog11.svg" data-cog="cog11">
    </div>

    <script src="~/lib/jquery.js"></script>
    <script src="~/lib/jquery-ui.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="~/lib/es6-shim.js"></script>
    <script src="~/lib/system.js"></script>
    <script src="~/lib/zone.js"></script>
    <script src="~/lib/moment.js"></script>
    <script src="~/lib/reflect.js"></script>
    <script src="~/lib/pqgrid.min.js"></script>
    <script>
        System.config({
            defaultJSExtensions: true,
            "lib/ng2-bootstrap": {
                "defaultExtension": "js"
            },
            paths: {
                'ng2-bootstrap/ng2-bootstrap': 'lib/ng2-bootstrap'
            },
            map: {
                'rxjs': '~/../../../lib/rxjs',
                'jquery': '~/../../../lib/jquery',
                'moment': '~/../../../lib/moment'
            }
        });
        jQuery(window).load(function ($) {

            jQuery('#global-loader-icon').removeClass('spinning-cog').addClass('shrinking-cog');
            jQuery('#global-loader-background').delay(1300).fadeOut();
            jQuery('#loader').removeClass('overlay-loader');

            console.log('loading finished');
        });
    </script>
    <script src="~/lib/angular2.js"></script>
    <script src="~/lib/ng2-bootstrap.js"></script>
    <script src="~/lib/http.js"></script>
    <script src="~/lib/router.js"></script>
    <script src="~/js/app.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
